<h1>Listing garbages</h1>

<table>
  <tr>
    <th>Item</th>
    <th><%= link_to 'Thrower', throwers_path %></th>
    <th><%= link_to 'Garbage Can', garbage_cans_path %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @garbages.each do |trash| %>
  <tr>
    <td><%= trash.item %></td>
    <td><%= trash.thrower.name %></td>
    <td><%= trash.garbage_can.name %></td>
    <td><%= link_to 'Show', trash %></td>
    <td><%= link_to 'Edit', edit_garbage_path(trash) %></td>
    <td><%= link_to 'Destroy', trash, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Garbage', new_garbage_path %>
<br />
<%= link_to 'New Thrower', new_thrower_path %>
<br />
<%= link_to 'New Garbage Can', new_garbage_can_path %>


