<h1>Listing garbage_cans</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @garbage_cans.each do |garbage_can| %>
  <tr>
    <td><%= garbage_can.name %></td>
    <td><%= link_to 'Show', garbage_can %></td>
    <td><%= link_to 'Edit', edit_garbage_can_path(garbage_can) %></td>
    <td><%= link_to 'Destroy', garbage_can, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<div id="chart"></div>

<%=raw Seer::visualize(
            @garbage_cans,
            :as => :gauge,
            :in_element => 'chart',
            :series => {
                    :series_label => 'name',
                    :data_method => 'quantity'
            },
            :chart_options => {
                    :green_from => 0,
                    :green_to => 8,
                    :height => 300,
                    :max => 12,
                    :min => 0,
                    :minor_ticks => 6,
                    :red_from => 10,
                    :red_to => 12,
                    :width => 600,
                    :yellow_from => 8,
                    :yellow_to => 10
            }
    )
-%>

<br />

<%= link_to 'New Garbage can', new_garbage_can_path %>
