<div id="chart"></div>

<%=raw Seer::visualize(
               @throwers,
               :as => :column_chart,
               :in_element =>'chart',
               :series => {:series_label => 'name', :data_method => 'quantity'},
               :chart_options => {
                       :height => 300,
                       :width => 500,
                       :is_3_d => true,
                       :legend => 'none',
                       :colors => "[{color:'#990000', darker:'#660000'}]",
                       :title => "Garbage Quantities",
                       :title_x => 'Throwers',
                       :title_y => 'Items in Trash'
               }
       )
-%>
<h1>Listing throwers</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @throwers.each do |thrower| %>
  <tr>
    <td><%= thrower.name %></td>
    <td><%= link_to 'Show', thrower %></td>
    <td><%= link_to 'Edit', edit_thrower_path(thrower) %></td>
    <td><%= link_to 'Destroy', thrower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<br />

<%= link_to 'New Thrower', new_thrower_path %>
